.cas-header {
  position: relative;
  background-color: $white;

  h2 {
    font-size: 1.5rem;
  }

  &__stamp {
    position: absolute;
    right: -100px;
    top: 0;
  }

  &__hosted-by {
    &-text {
      color: $primary-base;
    }

    a {
      color: $dark
    }
  }

  @media only screen and (max-width: 2200px) {
    max-width: 1400px;
    margin: 0 auto;
  }

  @media only screen and (max-width: 1500px) {
    max-width: 700px;

    &__stamp {
      height: 85px !important;
      top: 35px;
    }
  }

  @media only screen and (max-width: 1100px) {
    max-width: 80%;
  }

  @media only screen and (max-width: 650px) {
    &__stamp {
      width: 115px;
      bottom: 0;
      top: unset;
      right: -30px;
    }
  }

  @media only screen and (max-width: 450px) {
    &__stamp {
      right: -15px;
      bottom: -30px;
      top: unset;
      width: 85px;
    }
  }
}