.notarizations {
  .row {
    padding: 20px 20px 0;

    > div {
      padding: 0;
    }
  }

  &-wrapper {
    padding: 20px;
    background-color: $white;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);

    &__texts {
      color: $dark;

      div:last-of-type {
        font-size: 12px;
      }
    }
  }

  &__line-chart {
    margin-top: -15px;
  }

  &__histogram-line {
    margin-top: -25px;
    margin-bottom: 10px;
  }
}