$white: #FFFFFF;
$grey: #C1C1C1;
$primary: #24C4A1;
$primary-base: #244583;
$light-base: #FAF9F8;
$blue-base: #147CB6;
$dark: #13274B;
$primary-dark: #153954;
$grey-dark: #768E98;
$error: #DB3216;
$unknown: #FEBF2D;
