@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/proxima_nova_regular.woff2') format("woff2");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/proxima_nova_bold.woff2") format("woff2");
}
